<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Product Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-warning">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Online Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " th:href="@{/dashboard}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " th:href="@{/cart}">My Cart</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Account
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/login}">Login</a></li>
                        <li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
                    </ul>
                </li>
            </ul>
            <form th:action="@{/dashboard}" class="d-flex" role="search">
                <input class="form-control me-2" name="keyword" type="search" placeholder="Search" aria-label="Search"/>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="container mt-4">
    <div class="row custom-height">

        <!-- LEFT SIDE -->
        <div class="col-md-9">
            <div class="row" th:object="${product}">

                <!-- IMAGE CARD -->
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <img th:src="${product.image}" class="card-img-top" alt="Product Image">
                        <div class="card-body text-center">

                            <form th:action="@{/product/delete/{id}(id=${product.id})}" method="post">
                                <input type="hidden" name="_method" value="delete" />
                                <button class="btn btn-danger mb-2" type="submit">Delete</button>
                            </form>

                            <form th:action="@{/cart/add/{id}(id=${product.id})}" method="post">
                                <button class="btn btn-warning" type="submit">Add to cart</button>
                            </form>

                        </div>
                    </div>
                </div>

                <!-- DETAILS CARD -->
                <div class="col-md-8 mb-4">
                    <div class="card h-100">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item fw-bold" th:text="${product.title}"></li>
                            <li class="list-group-item text-success fw-bold" th:text="${product.price}"></li>
                            <li class="list-group-item" th:text="${product.description}"></li>
                            <li class="list-group-item" th:text="${product.category}"></li>
                            <li class="list-group-item" th:text="${product.rating}"></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <!-- RIGHT SIDE (CATEGORIES) -->
        <div class="col-md-3">
            <div class="card h-100">
                <ul class="list-group list-group-flush h-100">
                    <li class="list-group-item">DELIVERY & RETURNS</li>
                    <li class="list-group-item">
                        <span>Online Express</span><br>
                        <span>The BEST products, delivered faster. Now PAY on DELIVERY, Cash or Bank Transfer Anywhere, Zero Wahala!</span>
                    </li>
                    <li class="list-group-item">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Choose your Location</option>
                            <option value="1">Lagos</option>
                            <option value="2">Ibadan</option>
                            <option value="3">Abuja</option>
                        </select>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script>
    document.querySelectorAll(".delete-form").forEach(form => {
        form.addEventListener("submit", function(event) {
            event.preventDefault();

            Swal.fire({
                title: "Are you sure?",
                text: "This action cannot be undone!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#d33",
                cancelButtonColor: "#3085d6",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit();
                }
            });
        });
    });
</script>

</body>
</html>